<div class="sidebar">
  <div class="sidebar-header">
    <img id="app-logo"src="assets/images/app-logo.png" alt="" />
    <h2>Activision</h2>
  </div>
  <!-- component 1 -->

  <div class="sidebar-component">
    <h4>Pinned Projects</h4>
    <div class="sidebar-component-item">
      <i class="fa-solid fa-thumbtack"></i>
      <p>Daily Tasks</p>
    </div>
    <div class="sidebar-component-item">
      <i class="fa-solid fa-thumbtack"></i>
      <p>My Goals</p>
    </div>
  </div>
  <!-- component 1 -->

  <!-- component 2 -->
  <div class="sidebar-component">
    <h4>Menu</h4>
    <div class="sidebar-component-item">
      <i class="fa-solid fa-house"></i>
      <p>Dashboard</p>
    </div>
    <div class="sidebar-component-item">
      <i class="fa-solid fa-bell"></i>
      <p>Notifications</p>
    </div>
    <div class="sidebar-component-item">
      <i class="fa-regular fa-folder-open"></i>
      <p>Projects</p>
    </div>
    <div class="sidebar-component-item">
      <i class="fa-regular fa-calendar-days"></i>
      <p>Calender</p>
    </div>
  </div>
  <!-- component 2 -->
  <!-- component 3 -->
  <div class="sidebar-component">
    <h4>Accounts</h4>
    <div class="sidebar-component-item">
      <i class="fa-solid fa-circle-user"></i>
      <p>Profile</p>
    </div>
    <div class="sidebar-component-item">
      <i class="fa-solid fa-user-group"></i>
      <p>Teams</p>
    </div>
    <div class="sidebar-component-item">
      <i class="fa-solid fa-gear"></i>
      <p>Settings</p>
    </div>
  </div>
  <!-- component 3 -->
  <div class="profile">
    <div class="profile-img">
      <img src="assets/images/profile2.jpg" alt="" />
    </div>
    <div class="profile-info">
      <h4>Tech Comp</h4>
      <p>Pro Trial</p>
    </div>
  </div>
</div>
