<div class="nav-bar container">
  <div class="nav-bar-project">
    <i class="fa-solid fa-thumbtack pin-item"></i>
    <p class="pin-item">Pinned Projects</p>
    <i class="fa-solid fa-chevron-right pin-item"></i>
    <p id="task-header">Daily Tasks</p>
  </div>
  <div class="project-handler">
    <h3>Daily Tasks</h3>
    <div id="nav-bar-buttons">
      <div class="profiles">
        <img src="assets/images/profile3.jpg" alt="" />
        <img src="assets/images/profile4.jpg" alt="" />
        <img src="assets/images/profile5.jpg" alt="" />
      </div>
      <!-- <button routerLink="/login">click me</button> -->
      <a routerLink="/login">
        <span class="plus-button"><i class="fa-solid fa-plus"></i></span>
      </a>

      <span class="divider"></span>
      <button>Create Task!</button>
    </div>
  </div>
</div>
<div class="navbar-tools container">
  <div class="navbar-pages">
    <a href="#" class="active">Overview</a>
    <a href="#">List</a>
    <a href="#">Board</a>
    <a href="#">Timeline</a>
  </div>
  <div class="navbar-funcs" style="display: flex; align-items: center">
    <div class="navbar-funcs-tools">
      <button><i class="fa-solid fa-sliders"></i> <span>filter</span></button>
      <button>
        <i class="fa-solid fa-arrow-up-wide-short"></i> <span>Sort</span>
      </button>
    </div>
    <div class="input-container">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="Search" />
    </div>
  </div>
</div>

