<div class="cards-container container">
  <div class="task-holder">
    <div class="task-info">
      <h3>to do</h3>
      <i class="fa-solid fa-ellipsis"></i>
    </div>
    <div class="task-content">
      <div class="task-badges">
        <span>Low</span>
        <span>Web Design</span>
      </div>
      <div class="task-header">
        <h3>Finance Landing Page</h3>
      </div>
      <div class="task-deadline">
        <span> <i class="fa-solid fa-flag"></i>31 Oct</span>
        <span> <i class="fa-solid fa-file-lines"></i>8</span>
        <span><i class="fa-solid fa-list-check"></i>0/12</span>
      </div>
    </div>
  </div>
</div>
