<div class="cards-container container">
  <div class="task-holder">
    <div class="task-info">
      <div id="task-header">
        <h3>to do</h3>
        <span>8</span>
      </div>
      <div>
        <i class="fa-solid fa-ellipsis"></i>
      </div>
    </div>
    <!-- task1 -->
    <div class="task-content">
      <div class="task-badges">
        <span id="badge1">Low</span>
        <span id="badge2">Web Design</span>
      </div>
      <div class="task-header">
        <h3>Finance Landing Page</h3>
      </div>
      <div class="task-deadline">
        <span> <i class="fa-solid fa-flag"></i>31 Oct</span>
        <span> <i class="fa-solid fa-file-lines"></i>8</span>
        <span><i class="fa-solid fa-list-check"></i>0/12</span>
      </div>
    </div>

    <!-- task1 -->
    <!-- task2 -->

    <div class="task-content">
      <div class="task-badges">
        <span id="badge4">Medium</span>
        <span id="badge2">Web Design</span>
      </div>
      <div class="task-header">
        <h3>Hotel Application</h3>
        <div class="task-images">
          <img src="assets/images/dashboard.png" alt="" />
        </div>
      </div>
      <div class="task-deadline">
        <span> <i class="fa-solid fa-flag"></i>11 Apr</span>
        <span> <i class="fa-solid fa-file-lines"></i>15</span>
        <span><i class="fa-solid fa-list-check"></i>0/6</span>
      </div>
    </div>
    <!-- task2 -->
    <!-- task3 -->
    <div class="task-content">
      <div class="task-badges">
        <span id="badge5">High</span>
        <span id="badge3">Template</span>
      </div>
      <div class="task-header">
        <h3>Manager Dashboard</h3>
      </div>
      <div class="task-deadline">
        <span> <i class="fa-solid fa-flag"></i>22 Nov</span>
        <span> <i class="fa-solid fa-file-lines"></i>5</span>
        <span><i class="fa-solid fa-list-check"></i>3/7</span>
      </div>
    </div>
    <!-- task3 -->
    <!-- task4 -->
    <div class="task-content">
      <div class="task-badges">
        <span id="badge1">Low</span>
        <span id="badge2">Web Design</span>
      </div>
      <div class="task-header">
        <h3>Finance Landing Page</h3>
      </div>
      <div class="task-deadline">
        <span> <i class="fa-solid fa-flag"></i>31 Oct</span>
        <span> <i class="fa-solid fa-file-lines"></i>8</span>
        <span><i class="fa-solid fa-list-check"></i>0/12</span>
      </div>
    </div>
    <!-- task4 -->
    <!-- task5 -->
    <div class="task-content">
      <div class="task-badges">
        <span id="badge1">Low</span>
        <span id="badge2">Web Design</span>
      </div>
      <div class="task-header">
        <h3>Finance Landing Page</h3>
      </div>
      <div class="task-deadline">
        <span> <i class="fa-solid fa-flag"></i>31 Oct</span>
        <span> <i class="fa-solid fa-file-lines"></i>8</span>
        <span><i class="fa-solid fa-list-check"></i>0/12</span>
      </div>
    </div>
    <!-- task5 -->
  </div>
  <div class="task-holder">
    <div class="task-info">
      <div id="task-header">
        <h3>to do</h3>
        <span>8</span>
      </div>
      <div>
        <i class="fa-solid fa-ellipsis"></i>
      </div>
    </div>
    <!-- task1 -->
    <div class="task-content">
      <div class="task-badges">
        <span id="badge1">Low</span>
        <span id="badge2">Web Design</span>
      </div>
      <div class="task-header">
        <h3>Finance Landing Page</h3>
      </div>
      <div class="task-deadline">
        <span> <i class="fa-solid fa-flag"></i>31 Oct</span>
        <span> <i class="fa-solid fa-file-lines"></i>8</span>
        <span><i class="fa-solid fa-list-check"></i>0/12</span>
      </div>
    </div>

    <!-- task1 -->
    <!-- task2 -->

    <div class="task-content">
      <div class="task-badges">
        <span id="badge4">Medium</span>
        <span id="badge2">Web Design</span>
      </div>
      <div class="task-header">
        <h3>Hotel Application</h3>
        <div class="task-images">
          <img src="assets/images/dashboard2.jpg" alt="" />
        </div>
      </div>
      <div class="task-deadline">
        <span> <i class="fa-solid fa-flag"></i>11 Apr</span>
        <span> <i class="fa-solid fa-file-lines"></i>15</span>
        <span><i class="fa-solid fa-list-check"></i>0/6</span>
      </div>
    </div>
    <!-- task2 -->
    <!-- task3 -->
    <div class="task-content">
      <div class="task-badges">
        <span id="badge5">High</span>
        <span id="badge3">Template</span>
      </div>
      <div class="task-header">
        <h3>Manager Dashboard</h3>
      </div>
      <div class="task-deadline">
        <span> <i class="fa-solid fa-flag"></i>22 Nov</span>
        <span> <i class="fa-solid fa-file-lines"></i>5</span>
        <span><i class="fa-solid fa-list-check"></i>3/7</span>
      </div>
    </div>
    <!-- task3 -->
    <!-- task4 -->
    <div class="task-content">
      <div class="task-badges">
        <span id="badge1">Low</span>
        <span id="badge2">Web Design</span>
      </div>
      <div class="task-header">
        <h3>Finance Landing Page</h3>
      </div>
      <div class="task-deadline">
        <span> <i class="fa-solid fa-flag"></i>31 Oct</span>
        <span> <i class="fa-solid fa-file-lines"></i>8</span>
        <span><i class="fa-solid fa-list-check"></i>0/12</span>
      </div>
    </div>
    <!-- task4 -->
    <!-- task5 -->
    <div class="task-content">
      <div class="task-badges">
        <span id="badge1">Low</span>
        <span id="badge2">Web Design</span>
      </div>
      <div class="task-header">
        <h3>Finance Landing Page</h3>
      </div>
      <div class="task-deadline">
        <span> <i class="fa-solid fa-flag"></i>31 Oct</span>
        <span> <i class="fa-solid fa-file-lines"></i>8</span>
        <span><i class="fa-solid fa-list-check"></i>0/12</span>
      </div>
    </div>
    <!-- task5 -->
  </div>
  <div class="task-holder">
    <div class="task-info">
      <div id="task-header">
        <h3>to do</h3>
        <span>8</span>
      </div>
      <div>
        <i class="fa-solid fa-ellipsis"></i>
      </div>
    </div>
    <!-- task1 -->
    <div class="task-content">
      <div class="task-badges">
        <span id="badge1">Low</span>
        <span id="badge2">Web Design</span>
      </div>
      <div class="task-header">
        <h3>Finance Landing Page</h3>
      </div>
      <div class="task-deadline">
        <span> <i class="fa-solid fa-flag"></i>31 Oct</span>
        <span> <i class="fa-solid fa-file-lines"></i>8</span>
        <span><i class="fa-solid fa-list-check"></i>0/12</span>
      </div>
    </div>

    <!-- task1 -->
    <!-- task2 -->

    <div class="task-content">
      <div class="task-badges">
        <span id="badge4">Medium</span>
        <span id="badge2">Web Design</span>
      </div>
      <div class="task-header">
        <h3>Hotel Application</h3>
        <div class="task-images">
          <img src="assets/images/dashboard3.jpg" alt="" />
        </div>
      </div>
      <div class="task-deadline">
        <span> <i class="fa-solid fa-flag"></i>11 Apr</span>
        <span> <i class="fa-solid fa-file-lines"></i>15</span>
        <span><i class="fa-solid fa-list-check"></i>0/6</span>
      </div>
    </div>
    <!-- task2 -->
    <!-- task3 -->
    <div class="task-content">
      <div class="task-badges">
        <span id="badge5">High</span>
        <span id="badge3">Template</span>
      </div>
      <div class="task-header">
        <h3>Manager Dashboard</h3>
      </div>
      <div class="task-deadline">
        <span> <i class="fa-solid fa-flag"></i>22 Nov</span>
        <span> <i class="fa-solid fa-file-lines"></i>5</span>
        <span><i class="fa-solid fa-list-check"></i>3/7</span>
      </div>
    </div>
    <!-- task3 -->
    <!-- task4 -->
    <div class="task-content">
      <div class="task-badges">
        <span id="badge1">Low</span>
        <span id="badge2">Web Design</span>
      </div>
      <div class="task-header">
        <h3>Finance Landing Page</h3>
      </div>
      <div class="task-deadline">
        <span> <i class="fa-solid fa-flag"></i>31 Oct</span>
        <span> <i class="fa-solid fa-file-lines"></i>8</span>
        <span><i class="fa-solid fa-list-check"></i>0/12</span>
      </div>
    </div>
    <!-- task4 -->
    <!-- task5 -->
    <div class="task-content">
      <div class="task-badges">
        <span id="badge1">Low</span>
        <span id="badge2">Web Design</span>
      </div>
      <div class="task-header">
        <h3>Finance Landing Page</h3>
      </div>
      <div class="task-deadline">
        <span> <i class="fa-solid fa-flag"></i>31 Oct</span>
        <span> <i class="fa-solid fa-file-lines"></i>8</span>
        <span><i class="fa-solid fa-list-check"></i>0/12</span>
      </div>
    </div>
    <!-- task5 -->
  </div>
</div>
